/* Input Number Stylling */

.input-number {
    --hover-clr: rgba(214, 219, 245, 1);
    --shadow-clr: rgba(0, 0, 0, 0.15);

    position: relative;
    width: 50%;
    display: grid;
    border-radius: 4px;
    box-shadow: 4px 4px 4px var(--shadow-clr);
}

.input-number.dark {
    --hover-clr: rgba(43, 40, 58, 0.5);
    --shadow-clr: rgb(112, 114, 253);
}

.input-number-btn {
    position: absolute;
    border: none;
    background: transparent;
    cursor: default;
    outline: none;
    height: 100%;
    width: 1.2rem;
}

.input-number-btn:first-child {
    left: 0;
    border-radius: 4px 0 0 4px;
}

.input-number-btn:last-child {
    right: 0;
    border-radius: 0 4px 4px 0;
}

.input-number-btn:hover {
    background: var(--hover-clr);
}

.input-number input {
    width: 100%;
    padding: 5px;
    background-color: #f5f7fb;
    border: none;
    border-radius: 4px;
    color: #293264;
    outline: none;
    text-align: center;
}
